{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}
<script>
location.replace("/");
</script>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                  {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{error}}
                    {% endfor %}
                </div>
                  {% endif %}
                    <form method="post" style="padding : 10px;" class="form-horizontal" action="/login">
                      {% csrf_token %}
                                <div class="form-group">
                                <label class="control-label" for="id_username">Username:</label>
                                <input autofocus="" id="id_username" class="form-control" maxlength="254" name="username" type="text" required />

                                <label class="control-label" for="id_password">Password:</label>
                                <input  id="id_password" class="form-control" name="password" type="password" required /></td>
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-primary" class="form-control" type="submit" value="login" />
                            </center>
                          </div>
                        </p>
                        <input type="hidden" name="next" value="/" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
$("#signinm").addClass('active');
</script>

{% endblock %}
