{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <div class="panel-body">
                    <form method="post" style="padding : 10px;" class="form-horizontal" action="/change-password">
                      {% csrf_token %}
                        {{ form.as_table }}
                        <p class="bs-component">
                            <center>
                                <input class="btn btn-primary" class="form-control" type="submit" value="Change" />
                            </center>
                          </div>
                        </p>
                        <input type="hidden" name="next" value="/" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
$("#passm").addClass('active');
</script>

{% endblock %}
