{% extends 'base.html' %}

{% block title %}django-bootstrap3{% endblock %}

{% block content %}

<div class="col-md-10 col-md-offset-1 jumbotron">
  <div class="text-center">
    <h1>Welcome</h1>
      <h3> to license Groupware</h3><br>
  </div>
<div class="panel panel-warning">
  <div class="panel-heading text-center">
    Our Stats <span class="glyphicon glyphicon-stats"></span>
  </div>
  <ul class="list-group">
    <li class="list-group-item active">
      <span class="badge"> {{ users }}</span>
      Members
    </li>
    <li class="list-group-item active">
      <span class="badge">{{ projects }}</span>
      Projects
    </li>
    <li class="list-group-item active">
      <span class="badge">{{ tasks }}</span>
      Tasks
    </li>
    <li class="list-group-item active">
      <span class="badge">{{ files }}</span>
     Files
    </li>
    <li class="list-group-item active">
      <span class="badge">{{ posts }}</span>
     Posts
    </li>
    <li class="list-group-item active">
      <span class="badge">{{ comms }}</span>
     Comments
    </li>
  </ul>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
$("#homem").addClass('active');
</script>
{% endblock %}
