{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{do}} Task</h3>
                </div>
                <div class="panel-body">
                  {% if errors %}
                    <div class="alert alert-danger" role="alert">
                      {% if additiveerror %}
                       <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ additiveerror }} <br>
                      {% endif %}
                      {% if form.errors %}
                        {% for error in form.errors %}
                           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> invalid data in {{error}} field <br>
                        {% endfor %}
                      {% endif %}
                    </div>
                  {% endif %}
                  <form action="{{action}}" class="form-group" method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <p class="bs-component">
                        <center>
                            <input class="btn btn-primary" class="form-control" type="submit" value="{{do}}" />
                        </center>
                      </div>
                    </p>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
{% if user.is_authenticated %}
$("#tasks").addClass('active');
{% endif %}
</script>

{% endblock %}
