{% extends 'base.html' %}


{% block content %}
        <div class="col-md-9 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      {% if do == "Post" %}
                      New
                      {% else %}
                      Edit
                      {% endif %}
                       Post</h3>
                </div>
                <div class="panel-body">
                  {% if merrors %}
                    <div class="alert alert-danger" role="alert">
                      {% if form.errors %}
                        {% for error in form.errors %}
                           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> invalid data in {{error}} field <br>
                        {% endfor %}
                      {% endif %}
                    </div>
                  {% endif %}
                    <form method="post" style="padding: 10px;" class="form-horizontal" action="{{action}}">
                      {% csrf_token %}
                          <div class="form-group">
                            {{ form.as_table }}
                        <p class="bs-component">
                            <center>

                                 <button class="btn btn-primary" class="form-control" type="submit">
                                    {{do}} <span class="glyphicon glyphicon-floppy-saved"></span>
                                  </button>

                            </center>
                          </div>
                        </p>
                        <input type="hidden" name="next" value="/" />
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascript %}


<script>
{% if user.is_authenticated %}
$("#blogm").addClass('active');
{% endif %}
</script>

{% endblock %}
